<div class="flex items-center gap-2">
    <h1 class="font-bold text-gray-800 text-3xl">My jobs</h1>
    <div class="relative">
        <button class="inline-flex items-center p-2 text-gray-600 hover:text-gray-800"
            (click)="isDropdownOpen = !isDropdownOpen">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                    clip-rule="evenodd" />
            </svg>
        </button>

        <div class="absolute right-0 mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5"
            *ngIf="isDropdownOpen">
            <div class="py-1">
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                    (click)="isDropdownOpen = false">All Jobs</a>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                    (click)="isDropdownOpen = false">Active Jobs</a>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                    (click)="isDropdownOpen = false">Completed Jobs</a>
                <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                    (click)="isDropdownOpen = false">Archived Jobs</a>
            </div>
        </div>
    </div>
</div>